@model ERPMEDICAL.ViewModel.PoViewModel
@{
    ViewData["Title"] = "PoView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <section class="panel">
        <header class="panel-heading">
            <div class="panel-actions">
                <a href="#" class="fa fa-caret-down"></a>
                <a href="#" class="fa fa-times"></a>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h2>Purchase</h2>
                </div>
            </div>
        </header>
        <div class="panel-body">
            <table class="table table-bordered table-striped mb-none">
                <thead>
                    <tr>
                        <th>Invoice No</th>
                        <th>Vendor Name</th>
                        <th>Purchase Date</th>
                        <th>Total CGST Amount</th>
                        <th class="hidden-phone">Total SGST Amount</th>
                        <th class="hidden-phone">Total IGST Amount</th>
                        <th class="hidden-phone">TotalAmount</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td>
                            @Model.InvoiceNo
                        </td>
                        <td>
                            @Model.VendorName
                        </td>
                        <td>
                            @Model.OrderDate
                        </td>
                        <td>
                            @Model.TotalCgst
                        </td>
                        <td>
                            @Model.TotalSgst
                        </td>
                        <td>
                            @Model.TotalIgst
                        </td>
                        <td>
                            @Model.TotalAmount
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
    <section class="panel">
        <header class="panel-heading">
            <div class="panel-actions">
                <a href="#" class="fa fa-caret-down"></a>
                <a href="#" class="fa fa-times"></a>
            </div>
            <div class="row">

                <div class="col-md-6">
                    <h2>All Transaction</h2>
                </div>
            </div>
        </header>
        <div class="panel-body">
            <table class="table table-bordered table-striped mb-none">
                <thead>
                    <tr>
                        <th>Product Name</th>
                        <th>MRP</th>
                        <th>Rate</th>
                        <th>Base Value</th>
                        <th>CGST</th>
                        <th>SGST</th>
                        <th>IGST</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var po in Model.PurchaseOrderItems)
                    {
                        <tr>
                            <td>@po.ProductName</td>
                            <td>@po.Mrp</td>
                            <td>@po.Rate</td>
                            <td>@po.TaxValue</td>
                            <td>@po.Cgst</td>
                            <td>@po.Sgst</td>
                            <td>@po.Igst</td>
                            <td>@po.Amount</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </section>
</div>

<div>
    <a href="@Url.Action("PoEdit", "Puchase",new { Id=@Model.Id })" class="btn btn-primary"><i class="fa fa-edit"></i></a> |
    <a asp-action="PO">Back to List</a>
</div>