
@{
    ViewData["Title"] = "Vendor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- start: page -->
<section class="panel">
    <header class="panel-heading">
        <h2 class="panel-title">ALL VENDORS</h2>
    </header>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-6">
                <div class="mb-md">
                    <button id="addToTable" class="btn btn-primary" onclick="window.location.href='@Url.Action("Create", "Vendor")'">ADD VENDOR <i class="fa fa-plus"></i></button>
                </div>
            </div>
        </div>
        <table class="table table-bordered table-striped mb-none" id="datatable-default">
            <thead>
                <tr>
                    <th>Doctor Name</th>
                    <th>Email ID</th>
                    <th>Contact No.</th>
                    <th>Address</th>
                    <th>GST No.</th>
                    <th>EDIT</th>
                    <th>DELETE</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.VendorList)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Email</td>
                        <td>@item.MobileNo</td>
                        <td>@item.Address</td>
                        <td>@item.GstNo</td>                      
                        <td>
                            <center>                                
                                <button type="button" class="btn btn-info" onclick="window.location.href='@Url.Action("Edit", "Vendor", new { VendorID=item.Id})'"><i class="fa fa-edit"></i></button>                                
                            </center>
                        </td>
                        <td>
                            <center>
                                <button type="button" class="btn btn-danger" onclick="DeleteVendorByID(@item.Id)"><i class="fa fa-trash-o"></i></button>
                            </center>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>
<!-- end: page -->

@section scripts {
    <script src="~/Custom-Script/vendor.js"></script>
}