@model CoreModel.Model.Product
@{
    ViewData["Title"] = "ManageProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" id="medical-product-management">
    <div class="col-md-12">
        <div data-collapsed="0" class="panel">

            <div class="panel-heading">
                <div class="panel-title">
                    <div class="panel-actions">
                    </div>
                    <h2 class="panel-title">ADD / EDIT PRODUCT</h2>
                </div>
            </div>

            <form>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>Product Name <span style="color:red">*</span></label>
                            <input type="hidden" id="hdnProductID" name="hdnProductID" value="@Model.Id" />
                            <input type="hidden" id="hdnProductBaseID" name="hdnProductBaseID" value="@Model.Baseid"/>
                            <input type="text" class="form-control" id="txtProductName" name="txtProductName" value="@Model.ProductName" placeholder="Enter product name" autocomplete="off">
                        </div>
                        <div class="col-md-3 form-group">
                            <label>Hsn Code</label>
                            <input type="text" class="form-control" id="txtHsnCode" name="txtHsnCode" value="@Model.HsnCode" placeholder="Enter product code" autocomplete="off">
                        </div>
                        <div class="col-md-3 form-group">
                            <label>Batch No.</label>
                            <input type="text" class="form-control" id="txtBatchNo" name="txtBatchNo" value="@Model.BatchNo" placeholder="Enter Batch No" autocomplete="off">
                        </div>

                        <div class="col-md-12 form-group">
                            <label>Description</label>
                            <textarea class="form-control" rows="2" id="txtDescription" name="txtDescription" placeholder="Enter product description" data-plugin-textarea-autosize>@Model.ProductDescription</textarea>
                        </div>

                        <div class="col-md-4 form-group">
                            <label>Product Package</label>
                            <input type="text" class="form-control" id="txtProPackage" name="txtProPackage" value="@Model.Package" placeholder="Enter product package" autocomplete="off">
                        </div>


                        <div class="col-md-4 form-group">
                            <label>Unit</label>
                            <input type="text" class="form-control" id="txtUnit" name="txtUnit" value="@Model.Unit" placeholder="Enter unit" autocomplete="off">
                        </div>

                        <div class="col-md-4 form-group">
                            <label>MRP</label>
                            <input type="number" class="form-control" id="txtMRP" name="txtMRP" value="@Model.Mrp" placeholder="Enter MRP" autocomplete="off">
                        </div>

                        <div class="col-md-3 form-group">
                            <label>Rate</label>
                            <input type="number" class="form-control" id="txtRate" name="txtRate" value="@Model.Rate" placeholder="Enter rate" autocomplete="off">
                        </div>


                        <div class="col-md-3 form-group">
                            <label>Discount</label><span>% (optional)</span>
                            <input type="number" class="form-control" id="txtDiscount" name="txtDiscount" value="@Model.Discount" placeholder="Enter discount" autocomplete="off">
                            @*<span class="input-group-btn">
                                    <button class="btn btn-info" type="button">%</button>
                                </span>*@
                        </div>

                        <div class="col-md-2 form-group">
                            <label>CGST</label><span>% (optional)</span>
                            <input type="number" class="form-control" id="txtCgstPer" name="txtCgstPer" value="@Model.CgstPer" placeholder="CGST Percentage">
                            @*<span class="input-group-btn">
                                    <button class="btn btn-info" type="button">%</button>
                                </span>*@
                        </div>

                        <div class="col-md-2 form-group">
                            <label>SGST</label><span>% (optional)</span>
                            <input type="number" class="form-control" id="txtSgstPer" name="txtSgstPer" value="@Model.SgstPer" placeholder="SGST amount">
                            @*<span class="input-group-btn">
                                    <button class="btn btn-info" type="button">%</button>
                                </span>*@
                        </div>

                        <div class="col-md-2 form-group">
                            <label>IGST</label><span>% (optional)</span>
                            <input type="number" class="form-control" id="txtIgstPer" name="txtIgstPer" value="@Model.IgstPer" placeholder="IGST amount">
                            @*<span class="input-group-btn">
                                    <button class="btn btn-info" type="button">%</button>
                                </span>*@
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button id="btnCancel" name="btnSubmit" type="button" class="mb-xs mt-xs mr-xs btn btn-lg btn-danger" onclick="window.location.href='@Url.Action("List", "Product")'">Cancel</button>
                            <button id="btnSubmitProduct" name="btnSubmit" type="button" class="mb-xs mt-xs mr-xs btn btn-lg btn-primary" v-on:click="AddEditProduct()">Submit</button>
                            @*&nbsp;&nbsp;&nbsp;*@
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- end: page -->

@section scripts {
    <script src="~/Custom-Script/product-script.js"></script>
}

