@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- start: page -->
<section class="panel">
    <header class="panel-heading">
        <!--<div class="panel-actions">
            <a href="#" class="fa fa-caret-down"></a>
            <a href="#" class="fa fa-times"></a>
        </div>-->
        <h2 class="panel-title">ALL CUSTOMERS</h2>
    </header>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-6">
                <div class="mb-md">
                    <button id="addToTable" class="btn btn-primary" onclick="window.location.href='@Url.Action("ManageCustomer", "Customer")'">ADD CUSTOMER <i class="fa fa-plus"></i></button>
                </div>
            </div>
        </div>
        <table class="table table-bordered table-striped mb-none" id="datatable-default">
            <thead>
                <tr>
                    <th>Customer Name</th>
                    <th>Email ID</th>
                    <th>Contact No.</th>
                    <th>Station</th>
                    <th>Driving License</th>
                    <th>Vehicle No.</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.customerList)
                {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.EmailId</td>
                    <td>@item.MobileNo</td>
                    <td>@item.Station</td>
                    <td>@item.DlNo</td>                    
                    <td>@item.VehicelNo</td>
                    <td>
                        <center>
                             @*<button type="button" class="btn btn-info"><i class="fa fa-eye"></i></button>*@
                            <button type="button" class="btn btn-info" onclick="window.location.href='@Url.Action("ManageCustomer", "Customer", new { CustomerID=item.Id})'"><i class="fa fa-edit"></i></button>
                            <button type="button" class="btn btn-danger" onclick="DeleteCustomerByID(@item.Id)"><i class="fa fa-trash-o"></i></button>
                        </center>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</section>
<!-- end: page -->
<script src="~/Custom-Script/customer-script.js"></script>
