@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- start: page -->
<section class="panel">
    <header class="panel-heading">       
        <h2 class="panel-title">ALL DOCTORS</h2>
    </header>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-6">
                <div class="mb-md">
                    <button id="addToTable" class="btn btn-primary" onclick="window.location.href='@Url.Action("ManageDoctor", "Doctor")'">ADD DOCTOR <i class="fa fa-plus"></i></button>
                </div>
            </div>
        </div>
        <table class="table table-bordered table-striped mb-none" id="datatable-default">
            <thead>
                <tr>
                    <th>Doctor Name</th>
                    <th>Email ID</th>
                    <th>Contact No.</th>
                    <th>Age</th>
                    <th>Address</th>                   
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.doctorList)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.EmailId</td>
                        <td>@item.MobileNo</td>
                        <td>@item.Age</td>
                        <td>@item.Address</td>                        
                        <td>
                            <center>                                
                                <button type="button" class="btn btn-info" onclick="window.location.href='@Url.Action("ManageDoctor", "Doctor", new { DoctorID=item.Id})'"><i class="fa fa-edit"></i></button>
                                <button type="button" class="btn btn-danger" onclick="DeleteDoctorByID(@item.Id)"><i class="fa fa-trash-o"></i></button>
                            </center>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>
<!-- end: page -->
<script src="~/Custom-Script/doctor-management-script.js"></script>

